# {{ ansible_managed }}

[Unit]
Description=Tessera map tile renderer

[Service]
Environment=MAPNIK_FONT_PATH=%h/.fonts PORT={{ tiles_tessera_port }}

MemoryMax=2G
SyslogIdentifier=%p
ExecStart=%h/node_modules/tessera/bin/tessera.js -b 127.0.0.1 tmstyle://./mapbox-studio-osm-bright.tm2
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
