<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat/Server</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" media="screen" href="css/theme.css" />
  <link type="text/css" rel="stylesheet" media="screen" href="css/converse.min.css" />
</head>

<body>
  <h1>Chat/Jabber - Server</h1>
  <h2>HowTo</h2>
  <p>Benutze dein lieblings Client und registriere dich unter der Domain 	{{ jabber_domain }}</p>
  <p>Join den Gruppenchat global@{{ jabber_domain_muc }} und/oder ein deiner Wahl!</p>
</body>
<script src="builds/converse.website.min.js"></script>
<script>
    require(['converse'], function (converse) {
        converse.initialize({
            bosh_service_url: 'https://{{ jabber_domain }}/http-bind', // Please use this connection manager only for testing purposes
            i18n: locales['en'], // Refer to ./locale/locales.js to see which locales are supported
            domain_placeholder: '{{ jabber_domain }}',
            keepalive: true,
            message_carbons: true,
            play_sounds: true,
            roster_groups: true,
            show_controlbox_by_default: true,
            xhr_user_search: false
        });
    });
</script>
</html>
