[submodule "site"]
	path = site
	url = https://github.com/FreifunkBremen/gluon-site-ffhb.git
[submodule "roles/respondd"]
	path = roles/respondd
	url = https://github.com/freifunk-ansible/ansible-role-yanic.git
