[defaults]

inventory      = ./hosts
roles_path     = ./roles
filter_plugins = ./filter_plugins
library        = ./library
remote_user    = root
nocows         = 1
vault_password_file = .vault_password
