[defaults]

inventory       = ./hosts
roles_path      = ./roles
filter_plugins  = ./filter_plugins
library         = ./library
remote_user     = root
nocows          = 1
gathering       = smart
ansible_managed = 'Ansible managed'
vault_password_file = ./scripts/open.sh

[ssh_connection]
pipelining     = true
