ansible==4.7.0
ansible-core==2.11.6
cffi==1.15.0
cryptography==35.0.0
dnspython==2.1.0
ipcalc==1.99.0
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==6.0
resolvelib==0.5.4
six==1.16.0
