---
- name: Install fastd
  apt:
    name: fastd

- name: Install haveged to create entropy
  apt:
    name: haveged

- name: Copy systemd unit file
  command: /bin/cp /lib/systemd/system/fastd@.service /etc/systemd/system/fastd@.service
  args:
    creates: /etc/systemd/system/fastd@.service

- name: Stop fastd via System V init script
  service:
    name: fastd
    state: stopped

- name: Fix systemd unit for fastd
  lineinfile:
    dest: /etc/systemd/system/fastd@.service
    line: "ExecStopPost=/bin/rm -f /run/fastd-%I.sock"
    regexp: "^ExecStopPost="
    insertafter: "^ExecReload="
  notify:
  - reload systemd
  - restart fastd

- name: Stop and disable fastd via System V init script
  service:
    name: fastd
    enabled: no

- name: batman_legacy setup
  when: batman_legacy is undefined and batman_legacy
  block:
  - name: Include batman_legacy fastd instance
    import_tasks: instance.yml
    vars:
      fastd_instance: "{{ site_code }}"
      fastd_interface: "vpn-{{ site_code }}"
      fastd_port: "{{ fastd_batmanlegacy_port }}"
      fastd_bind: any
      fastd_anonymous: true

  - name: Include legacy/ipv4 of batman_legacy fastd instance
    import_tasks: instance.yml
    vars:
      fastd_instance: "{{ site_code }}_legacy"
      fastd_bind: "0.0.0.0"
      fastd_interface: "{{ fastd_legacy_interface }}"
      fastd_port: "{{ fastd_legacy_port }}"
      fastd_mtu: "{{ fastd_legacy_mtu }}"
      fastd_anonymous: true

- name: batman_current setup
  when: batman_legacy is not undefined and not batman_legacy
  block:
  - name: Include fastd instance
    import_tasks: instance.yml
    vars:
      fastd_instance: "{{ site_code }}"
      fastd_interface: "vpn-{{ site_code }}"
      fastd_bind: any
      fastd_anonymous: true

  - name: Drop batman_legacy fastd instance
    import_tasks: instance-delete.yml
    vars:
      fastd_instance: "{{ site_code }}_legacy"

- name: Disable deprecated backbone instance
  service:
    name: "fastd@{{ site_code }}_backbone"
    enabled: no
    state: stopped

- name: Delete deprecated backbone interface
  file:
    path: "/etc/network/interfaces.d/vpn-{{ site_code }}-backbone"
    state: absent

- name: Generate fastd secret
  fastd_key:
    path: "/etc/fastd/{{ site_code }}/secret.conf"
  notify:
  - restart fastd

- name: Symlink fastd secrets
  when: batman_legacy is undefined and batman_legacy
  file:
    src: "/etc/fastd/{{ site_code }}/secret.conf"
    dest: "/etc/fastd/{{ site_code }}_legacy/secret.conf"
    state: link

- name: Install fastd blacklist
  import_tasks: blacklist.yml
