[Unit]
Description=mmfd
Wants=basic.target
After=basic.target network.target fastd.service babeld.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mmfd
ExecStartPost=/sbin/ip link set mmfd0 up
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
