[Unit]
Description=mmfd
Wants=basic.target
After=basic.target network.target babeld.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mmfd -s /var/run/mmfd.sock -i babel-ffhb
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
