[Unit]
Description=Publish data of yanic on downloads server every minute

[Timer]
OnBootSec=15min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
