[Unit]
Description=Publish data of yanic on downloads server

[Service]
ExecStart=/usr/bin/rsync -l --del -rt {{ yanic_nodes_paths }} downloads@webserver.bremen.freifunk.net:data/
User=yanic
Type=oneshot

[Install]
WantedBy=multi-user.target
