[Unit]
Description=Publish data of respond-collector on downloads server

[Service]
ExecStart=/usr/bin/rsync --del -rt {{ respond_collector_nodes_path }}/ downloads@webserver.bremen.freifunk.net:data/respond-collector
User=respond-collector
Type=oneshot

[Install]
WantedBy=multi-user.target
