define command {
  command_name check_host_alive_4
  command_line $USER1$/check_ping -4 -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 3
}

define command {
  command_name check_host_alive_6
  command_line $USER1$/check_ping -6 -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 3
}

define command {
  command_name check_multi
  command_line /home/{{ monitoring_user }}/.opt/check_multi/libexec/check_multi -l $USER1$ -t 20 -s HOSTADDRESS=$HOSTADDRESS$ -s HOSTADDRESS6=$HOSTADDRESS$ -f /home/{{ monitoring_user }}/.config/etc/nagios/$ARG1$ $ARG2$ $ARG3$ $ARG4$
}
