define command {
  command_name notify-none
  command_line /bin/true
}

define command {
  command_name notify-host-by-email
  command_line /usr/bin/printf "%b" "***** Icinga *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\n\nDate/Time: $LONGDATETIME$\n" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$
}

define command {
  command_name notify-service-by-email
  command_line /usr/bin/printf "%b" "***** Icinga *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n\n$SERVICEOUTPUT$" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

define command {
  command_name notify-host-by-jabber
  command_line /bin/echo "$NOTIFICATIONTYPE$ ($HOSTSTATE$) of host $HOSTNAME$: $HOSTOUTPUT$" | /home/ffhb-monitoring/.local/bin/sendxmpp -t -n "$CONTACTPAGER$"
}

define command {
  command_name notify-service-by-jabber
  command_line /bin/echo "$NOTIFICATIONTYPE$ ($SERVICESTATE$) of $SERVICEDESC$ on host $HOSTALIAS$: $SERVICEOUTPUT$" | /home/ffhb-monitoring/.local/bin/sendxmpp -t -n "$CONTACTPAGER$"
}
