define hostgroup {
  hostgroup_name dns-servers
}

define service {
  use generic-service
  hostgroup_name dns-servers
  service_description DNS [IPv4]
  check_command check_dns_1arg!$_HOSTDNS_ADDR$ -4
}

define service {
  use generic-service
  hostgroup_name dns-servers
  service_description DNS [IPv6]
  check_command check_dns_1arg!$_HOSTDNS_ADDR$ -6
}
