#######################################
# notification commands
#######################################
define command {
  command_name notify-host-by-email
  command_line /usr/bin/printf "%b" "***** Icinga *****\n\nNotification Type: $NOTIFICATIONTYPE$\nHost: $HOSTNAME$\nState: $HOSTSTATE$\nAddress: $HOSTADDRESS$\nInfo: $HOSTOUTPUT$\n\nDate/Time: $LONGDATETIME$\n" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$
}

define command {
  command_name notify-service-by-email
  command_line /usr/bin/printf "%b" "***** Icinga *****\n\nNotification Type: $NOTIFICATIONTYPE$\n\nService: $SERVICEDESC$\nHost: $HOSTALIAS$\nAddress: $HOSTADDRESS$\nState: $SERVICESTATE$\n\nDate/Time: $LONGDATETIME$\n\nAdditional Info:\n\n$SERVICEOUTPUT$" | /usr/bin/mail -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTALIAS$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$
}

define command {
  command_name notify-host-by-jabber
  command_line /usr/local/lib/nagios/sendjabber "$CONTACTPAGER$" "$NOTIFICATIONTYPE$ ($HOSTSTATE$) of host $HOSTNAME$: $HOSTOUTPUT$" "$CONTACTEMAIL$"
}

define command {
  command_name notify-service-by-jabber
  command_line /usr/local/lib/nagios/sendjabber "$CONTACTPAGER$" "$NOTIFICATIONTYPE$ ($SERVICESTATE$) of $SERVICEDESC$ on host $HOSTALIAS$: $SERVICEOUTPUT$" "$CONTACTEMAIL$"
}

#######################################
# host check commands
#######################################
define command {
  command_name check_host_alive_4
  command_line $USER1$/check_ping -4 -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 3
}

define command {
  command_name check_host_alive_6
  command_line $USER1$/check_ping -6 -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 3
}

define command {
  command_name check_multi
  command_line /home/ffhb-monitoring/.opt/check_multi/libexec/check_multi -l $USER1$ -t 20 -s HOSTADDRESS=$HOSTADDRESS$ -s HOSTADDRESS6=$HOSTADDRESS6$ -f /home/ffhb-monitoring/.opt/icinga/etc/$ARG1$ $ARG2$ $ARG3$ $ARG4$
}

#######################################
# remote check commands
#######################################
define command {
  command_name check_via_ssh
  command_line $USER1$/check_by_ssh -t 60 -o User=rnagios -o StrictHostKeyChecking=no -o CheckHostIP=no -i /home/ffhb-monitoring/.ssh/id_rsa_mon -H '$HOSTADDRESS$' '$ARG1$'
}

define command {
  command_name build_master_ssh_tunnel
  command_line /usr/local/lib/nagios/build_master_ssh_tunnel $HOSTADDRESS$
}

#######################################
# service check commands
#######################################
define command {
  command_name check_dns
  command_line $USER2$/check_dns -4 -H $HOSTADDRESS$ -s $HOSTADDRESS$
}

define command {
  command_name check_dns_1arg
  command_line $USER2$/check_dns -H $ARG1$ -s $ARG1$
}

define command {
  command_name check_ping_4
  command_line $USER1$/check_ping -4 -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}

define command {
  command_name check_ping_4_1arg
  command_line $USER1$/check_ping -4 -H $ARG1$ -w $ARG2$ -c $ARG3$ -p 5
}

define command {
  command_name check_ssh_no_password
  command_line $USER2$/check_ssh_no_password_login -H $HOSTADDRESS$ -p $_HOSTSSH_PORT$
}

define command {
  command_name check_mail_no_relay
  command_line $USER2$/check_mail_no_relay $HOSTADDRESS$
}

define command {
  command_name check_http
  command_line $USER1$/check_http -I $HOSTADDRESS$ $ARG1$
}

define command {
  command_name check_ssh
  command_line $USER1$/check_ssh --port=$_HOSTSSH_PORT$ $ARG1$ $HOSTADDRESS$
}

define command {
  command_name check_ping
  command_line $USER1$/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}

define command {
  command_name check_smtp
  command_line $USER1$/check_smtp -H $HOSTADDRESS$ $ARG1$
}
