# templates.cfg

# generic contact
define contact {
  name                                  generic-contact
  service_notification_period           24x7
  host_notification_period              24x7
  service_notification_options          w, u, c, r, f, s
  host_notification_options             d, u, r, f, s
  service_notification_commands         notify-service-by-email
  host_notification_commands            notify-host-by-email
  register                              0
}

# generic host
define host{
  name                                  generic-host
  notifications_enabled                 1
  event_handler_enabled                 1
  flap_detection_enabled                1
  failure_prediction_enabled            1
  retain_status_information             1
  retain_nonstatus_information          1
  check_interval                        5
  max_check_attempts                    5
  retry_interval                        1
  notification_period                   24x7
  register                              0
  notification_interval                 0
  notification_options                  d, u, r
  check_period                          24x7
  _SSH_PORT                             22
}

# linux host
define host{
  name                                  linux-server
  use                                   generic-host
  check_command                         check_host_alive_4
  register                              0
}

define host {
  name                                  linux-server-ipv6
  use                                   generic-host
  check_command                         check_host_alive_6
  register                              0
}

define host {
  name                                  linux-server-dualstack
  use                                   linux-server
  check_command                         check_multi!check_multi_host_dualstack.cmd -r 1+2+4+8
  register                              0
}

# router
define host {
  name                                  generic-router
  use                                   generic-host
  check_interval                        60
  retry_interval                        20
  check_command                         check_host_alive_4
  register                              0
}

# windows host
define host {
  name                                  windows-server
  use                                   generic-host
  check_command                         check_host_alive_4
  notification_options                  d, r
  hostgroups                            windows-servers
  register                              0
}

# generic service
define service {
  name                            generic-service
  active_checks_enabled           1
  passive_checks_enabled          1
  parallelize_check               1
  obsess_over_service             1
  check_freshness                 0
  notifications_enabled           1
  event_handler_enabled           1
  flap_detection_enabled          1
  failure_prediction_enabled      1
  retain_status_information       1
  retain_nonstatus_information    1
  is_volatile                     0
  check_period                    24x7
  max_check_attempts              5
  check_interval                  10
  retry_interval                  2
  notification_options            w,c,r
  notification_interval           0
  notification_period             24x7
  register                        0
}

# local service
define service{
  name                            local-service
  use                             generic-service
  max_check_attempts              4
  check_interval                  5
  retry_interval                  1
  register                        0
}
