[Unit]
Description=nagios
After=network.target

[Service]
ExecStart=%h/.opt/nagios/bin/nagios %h/.config/etc/nagios/nagios.cfg

[Install]
WantedBy=default.target
