[Unit]
Description=Firewall
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/firewall.sh start

[Install]
WantedBy=multi-user.target
